
$orange: #ED6755;
$blue: #78C3D0;
$yellow: #fff09b;
$black: #000000;
$margin: 20px;

body {
  font-family: 'Ek Mukta';
  background: $blue;
}

a, a:visited {
    color: inherit;
}

div.painter {
	display: flex;
    width: 100vw;
	height: 100vh;
	margin: auto;

    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(0,0,0,0.2);

	.tools {
		display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: $margin;

        .group {
            display: flex;
            flex-direction:column;
            margin-bottom: $margin;
            width: 100%;
        }

        a.tool {
            width: 100%;
        	padding: 7px 10px;
        	margin-bottom: 2px;

            code {
                font-family: "Ek Mukta";
                font-weight: bold;

                &:before{
                    content: "["
                }

                &:after{
                    content: "]"
                }
            }

        	&.active {
        		background: $orange;
                text-shadow: none;
        	}

            &:hover {
                color: $black
            }

            i {
                display: none;
            }
        }
	}

    div.canvas-container {
        flex-grow: 1;
        margin: $margin;
        margin-bottom: 2 * $margin;
        margin-left: 0;
        box-shadow: 0 0 4px rgba(0,0,0,.2);
        background: #fff;

        canvas {
            width: 100%;
            height: 100%;
        }

        .footer {
            // display: flex;
            // flex-direction: row;
            padding-top: 1em;

            .credits {
                text-align: right;
                .sep {
                    margin-right: 1em;
                }
            }
        }
        
    }
}

.swatches {
    display: inline;
    max-width: 100px;

    .swatch {
        display: inline-block;
        height: 1em;
        width: 1em;
        padding: 1em;
        text-align: center;
        border-radius: 100%;
        border: 3px solid transparent;
        margin: 5px;
        position: relative;
        transition: all 200ms ease;
        box-shadow: 0 0 4px rgba(0,0,0,.2);

        &:nth-of-type(2) {
            clear: right;
        }

        span {
            display: none;;
        }

        &:hover {
            border-color: #fff;
        }

        &.active {
            border-color: #fff;
            opacity: 1;
        }
    }
}