
$orange: #ED6755;
$blue: #78C3D0;
$yellow: #fff09b;
$black: #000000;
$margin: 20px;

body {
  font-family: 'Ek Mukta';
  background: $blue;
}

a, a:visited {
    color: inherit !important;
}

div.painter {
	display: flex;
    width: 100vw;
	height: 100vh;
	margin: auto;

	.tools {
		display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: $margin;

        .group {
            display: flex;
            flex-direction:column;
            margin-bottom: $margin;
        }

        a.tool {
            width: 100%;
        	padding: 7px 20px 7px 0;
        	margin-bottom: 2px;
        	color: #fff;
        	text-align: center;

        	&.active {
        		background: $yellow;
                color: $black;
        	}

            &:hover {
                color: $black
            }

        	span {
        		display: none;
        	}
        }
	}

    div.canvas-container {
        flex-grow: 1;
        margin: $margin;
        margin-bottom: 2 * $margin;
        margin-left: 0;
        box-shadow: 0 0 4px rgba(0,0,0,.2);
        background: #fff;

        canvas {
            width: 100%;
            height: 100%;
        }

        .credits {
            text-align: right;
            color: #fff;
            font-size: 10px;
            padding-top: 1em;
            letter-spacing: 1px;
            text-transform: uppercase;

            .sep {
                margin-right: 1em;
            }
        }
    }
}